*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

.container{
   
}

.header-section{
    background-image: url(../images/Coffee-photo-1506372023823-741c83b836fe.avif);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.header-text {
    padding: 20%;
    text-align: center;
    color: #323ecd;
}

#btn-a{
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

#btn-a a{
    text-decoration: none;
    padding: 12px 50px;
    display: inline-block;
    color: red;
}

.header-text h1 {
    font-size: 432%;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #afa7a7;
    position: fixed;
    width: 100%;
}

.header-logo{
    width: 300px;
    margin-left: 20px;
}

.header-logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 55px yellow;
    margin-top: 6px;
}

.header-menu{
    width: 500px;
}

.header-menu ul{
    display: flex;
    list-style: none;
}

.header-menu ul li {
    padding: 45px 20px;
    color: red;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.header-menu ul li:hover{
    color: greenyellow;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.left-text{
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

.left-text p{
    margin-bottom: 30px;
}

.left-text h3{
    margin-bottom: 10px;
}

.left-text a{
    text-decoration: none;
    background-color: antiquewhite;
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    display: inline-block;
}

.right-image{
   width: 50%;
}

.right-image img{
    width: 90%;
    height: 550px;
    border-radius: 5px;
    object-fit: cover;
}

.section-3{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.section-3 h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    text-transform: uppercase;
}

.section-3-img{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 50px;
    object-fit: cover;
}

.section-3 img{
    width: 30%;
    height: 700px;
    border-radius: 5px;
}


/*-------------------- SECTION-4 ----------------------------------*/

.section-4{
    display: flex;
    justify-content: space-between;
}

.left-card{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.single-image1, .single-image2{
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.single-order{
    position:absolute;
    top: 60%;
    left: 35%;
    
}

.single-order button{
    border: none;
    display: inline-block;
    background-color: green;
    color: white;
    border-radius: 15px;
}

.single-order a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.single-order a:hover{
    background-color: red;
    color: yellow;
    font-size: 18px;
    transition: .7s;
}

.single-image2{
    margin-left: 20px;
}

.single-image1 img, .single-image2 img{
    width: 100%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.single-image1 h3, .single-image2 h3{
    margin-bottom: 10px;
    font-size: 26px;
}


#btn-espre, #btn-latte{
    display: inline-block;
    border: none;
    margin-top: 15px;
}

#btn-espre a, #btn-latte a{
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #afa7a7;
    border-radius: 5px;
}

#btn-espre a:hover, #btn-latte a:hover{
    color: white;
    background-color: green;
}

.contact-form{
    width: 30%;
    padding: 20px;
    margin-top: 50px;
}


.contact-form input{
    width: 80%;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

input[type="checkbox"]{
    margin-left: -220px;
    
}

.contact-form p{
    margin-right: -10px;
}

.contact-form h4{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.contact-form h2{
    margin-bottom: 20px;
    margin-left: 30%;
    text-transform: uppercase;
}

#select-c{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
}

input[type="button"]{
    width: 40%;
    margin-top: 30px;
    background-color: gray;
    color: red;
    cursor: pointer;
}

input[type="button"]:hover{
    color: white;
    background-color: green;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 100px;
    margin-top: 50px;
}

.part-1, .part-2, .part-3{
    width: 33%;
}

.part-1 ul li, .part-3 ul li{
    list-style: none;
    margin-bottom: 10px;
}


.part-3{
    margin-right: 30px;
    text-align: right;
}

.footer-reserve{
    background-color: rgb(55, 49, 49);
}

.footer-reserve p{
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 12px;
}